* {
	font-family: 'Inter', sans-serif;
}
a:hover {
	color: #20b565;
	font-weight: 500;
}
a {
	color: #3c69ad;
	text-decoration: none;
}

.blur {
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(10px);
}
.bg-menu {
	background: radial-gradient(
		55.8% 134.7% at 71.7% 44.2%,
		rgba(209, 227, 255, 0.890625) 0%,
		rgba(150, 191, 255, 0.17) 57.24%
	);
}

.btn-primary {
	background-color: #3c69ad;
	color: #ffffff;
	border: none;
}
.btn-primary:hover {
	background-color: #30548a;
}

.btn-outline-primary {
	border-color: #3c69ad;
	color: #30548a;
}
.btn-outline-primary:hover {
	background-color: #30548a;
	border: none;
}
/* rounded corner */
.round-footer {
	border-radius: 34px 34px 0px 0px !important;
}
span {
	color: #3c69ad;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
lead {
	color: #0c1523;
}
.semibold {
	font-weight: 600;
}

.accordion-button:not(.collapsed) {
	color: #0c1523;
	background-color: #d1e3ff;
}
.accordion-button:focus {
	border: none;
}
.home-text {
	position: relative;
	z-index: 2;
}

.home-text h1 {
	color: #ffffff;
	font-size: 50px;
	color: #ffffff;
	line-height: 56px;
	font-weight: 700;
	margin: 0 0 20px;
}
.home-text {
	margin: 0;
	overflow: hidden;
}
.home-text span {
	display: inline-block;

	display: none;
}

.home-text span.text-in {
	display: block;
	animation: textIn .5s ease;
}
.home-text span.text-out {
	animation: textOut .5s ease;
}
@keyframes textIn {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}
@keyframes textOut {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}
